# Xcode
DerivedData/
*.xcuserdata/
*.xcuserstate
*.xcworkspace
*.xcodeproj/project.xcworkspace/
!*.xcodeproj/xcshareddata/
!*.xcworkspace/xcshareddata/

# Swift Package Manager
.build/
Packages/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Bundle artifacts
*.ipa
*.dSYM.zip
*.dSYM

# Temporary files
*.tmp
*.log
*.swp

# Environment files
.env

.DS_Store
frontend.xcodeproj/project.xcworkspace/xcuserdata/
frontend.xcodeproj/xcshareddata/
frontend.xcodeproj/xcuserdata/ivanfrolov.xcuserdatad/

